<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://poc-b2c-msal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7eab359d-a8e8-4d8b-9a19-835a9be4abbc/resourceGroups/POC-B2C/providers/Microsoft.Web/sites/poc-b2c-msal</ResourceId>
    <UserName>$poc-b2c-msal</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://poc-b2c-msal.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>